.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  width: 100%;

  &[data-invalid] .control {
    outline-color: color-mix(in srgb, var(--red) 100%, transparent);

    &:focus-visible {
      outline-color: color-mix(in srgb, var(--red) 100%, transparent);
    }
  }

  &[data-focused] .control {
    outline-color: color-mix(in srgb, var(--black) 10%, transparent);
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  line-height: 24px;
  color: var(--foreground-quaternary);
  letter-spacing: var(--spacing-regular);
  white-space: nowrap;
}

.control {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: stretch;
  height: 48px;
  padding: 16px;
  font-size: var(--size-medium);
  font-weight: var(--weight-medium);
  line-height: 24px;
  color: var(--foreground-primary);
  letter-spacing: var(--spacing-medium);
  outline-width: 2px;
  outline-style: solid;
  outline-color: color-mix(in srgb, var(--black) 0%, transparent);
  outline-offset: 0px;
  background: var(--background-secondary);
  border-radius: 16px;
  transition: outline-color 0.2s ease;

  &::placeholder {
    font-size: var(--size-medium);
    font-style: normal;
    font-weight: var(--weight-medium);
    line-height: 24px;
    color: color-mix(in srgb, var(--foreground-quaternary) 50%, transparent);
    letter-spacing: var(--spacing-medium);
  }

  &[data-field-control="textarea"] {
    height: 144px;
    resize: none;
  }

  &:focus-visible {
    outline-color: color-mix(in srgb, var(--black) 10%, transparent);
  }
}

.error {
  width: 100%;
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  line-height: 24px;
  color: var(--red);
  letter-spacing: var(--spacing-regular);
  white-space: nowrap;
}
