.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;

  transform: rotate(360deg);
  animation: spin 1s linear infinite;

  .svg {
    position: relative;
    display: block;
    animation: spin 1s ease-in-out infinite;
  }
}

.check {
  position: relative;
  width: 18px;
  height: 18px;

  .svg {
    position: absolute;
    scale: 1.2;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
