.manifesto {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: 384px;
  padding: 128px 0;
  margin: 0 auto 64px;
}

.return {
  position: relative;
  display: inline-block;
  font-size: var(--size-small);
  font-weight: var(--weight-medium);
  color: var(--foreground-quaternary);
  letter-spacing: var(--spacing-medium);
  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    scale 0.1s ease;

  &:hover {
    color: var(--foreground-primary);
  }

  &:active {
    scale: 0.95;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  align-self: stretch;

  .title {
    font-size: var(--size-large, 18px);
    font-style: normal;
    font-weight: var(--weight-semibold, 600);
    line-height: 150%; /* 27px */
    color: var(--foreground-primary, #1f1f1f);
    color: var(--foreground-primary, color(display-p3 0.1222 0.1222 0.1222));
    letter-spacing: var(--spacing-medium, -0.18px);
  }

  .subtitle {
    font-size: var(--size-small);
    font-weight: var(--weight-normal);
    line-height: 150%;
    color: var(--foreground-quaternary);
    letter-spacing: var(--spacing-small);

    .author {
      position: relative;
      display: inline-block;
      font-weight: var(--weight-medium);
      color: var(--foreground-primary);
      transition:
        color 0.2s ease,
        background-color 0.2s ease;

      &::after {
        position: absolute;
        right: 0px;
        bottom: 0px;
        left: 0px;
        height: 2px;
        pointer-events: none;
        content: "";
        background: color-mix(in srgb, currentcolor 20%, transparent);
        border-radius: 2px;
        transition: inherit;
      }

      &:hover::after {
        background: color-mix(in srgb, currentcolor 80%, transparent);
      }
    }
  }
}

.article {
  display: flex;
  flex-direction: column;
}

.article :is(h1, h2, h3) {
  margin: 0 0 16px;
  font-size: var(--size-medium);
  font-weight: var(--weight-medium);
  line-height: 24px;
  color: var(--foreground-primary);
  letter-spacing: var(--spacing-medium);
}

.article p {
  margin: 0 0 24px;
  font-size: var(--size-regular);
  font-weight: var(--weight-normal);
  line-height: 24px;
  color: var(--foreground-secondary);
  letter-spacing: var(--spacing-regular);
}

.article blockquote {
  padding-left: 16px;
  margin-bottom: 24px;
  border-left: 2px solid var(--border-primary);

  > p {
    margin-bottom: 0px;
    font-family: var(--font-newsreader);
    color: var(--foreground-quaternary);

    > strong {
      font-weight: var(--weight-semibold);
      color: var(--foreground-primary);
    }
  }
}
