.manifesto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 384px;
}

.manifesto h1,
.manifesto p {
  line-height: 24px;
}

.manifesto h1 {
  font-size: var(--size-large);
  font-weight: var(--weight-semibold);
  color: var(--foreground-primary);
  letter-spacing: var(--spacing-large);
}

.manifesto p {
  margin-top: 12px;
  font-size: var(--size-medium);
  font-weight: var(--weight-normal);
  color: var(--foreground-tertiary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 120px;
}
