.footer {
  position: absolute;
  bottom: 32px;
  width: 100%;

  > ul {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    list-style: none;

    > li {
      > a {
        font-size: var(--size-small);
        font-weight: var(--weight-normal);
        line-height: 150%;
        color: var(--foreground-quaternary);
        letter-spacing: var(--spacing-small);
        transition: color 0.2s;

        &:hover {
          color: var(--foreground-primary);
        }
      }
    }

    > li:not(:last-child)::after {
      display: inline-block;
      width: 2px;
      height: 2px;
      margin-left: 8px;
      vertical-align: middle;
      content: "";
      background: var(--foreground-quaternary);
      border-radius: 50%;
    }
  }
}
