.items {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  align-self: stretch;

  .item {
    display: flex;
    gap: 12px;
    align-items: center;
    align-self: stretch;

    .icon {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      overflow: hidden;
      background: #e79516;
      background: color(display-p3 0.8588 0.5986 0.2286);
      border-radius: 6px;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 4px 12px 0 color(display-p3 0 0 0 / 0.3);

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-start;
      justify-content: center;

      > h1 {
        line-height: 100%;
      }

      > h2 {
        line-height: 100%;
        opacity: 0.6;
      }
    }
  }
}
