/* colors - Light */
:root {
  --border-primary: oklch(0.949 0 0);
  --border-secondary: oklch(0.894 0 0);
  --border-tertiary: oklch(0.855 0 0);
  --foreground-primary: oklch(0.239 0 0);
  --foreground-secondary: oklch(0.305 0 0);
  --foreground-tertiary: oklch(0.475 0 0);
  --foreground-quaternary: oklch(0.693 0 0);
  --background-primary: oklch(1 0 0);
  --background-secondary: oklch(0.976 0 0);
  --background-tertiary: oklch(0.955 0 0);
  --background-quaternary: oklch(0.94 0 0);
  --black: oklch(0.239 0 0);
  --white: oklch(1 0 0);
  --blue: oklch(0.729 0.152 243.7);
  --purple: oklch(0.71 0.16 287.3);
  --grey: oklch(0.699 0 0);
  --dark-grey: oklch(0.413 0 0);
  --green: oklch(0.71 0.144 140.3);
  --yellow: oklch(0.802 0.167 78.9);
  --orange: oklch(0.732 0.186 53);
  --pink: oklch(0.711 0.16 342.9);
  --red: oklch(0.657 0.175 17.8);
}

@media (prefers-color-scheme: dark) {
  /* colors - Dark */
  :root {
    --border-primary: oklch(1 0 0 / 0.059);
    --border-secondary: oklch(1 0 0 / 0.122);
    --border-tertiary: oklch(1 0 0 / 0.161);
    --foreground-primary: oklch(1 0 0);
    --foreground-secondary: oklch(0.923 0.001 17.2);
    --foreground-tertiary: oklch(0.683 0 0);
    --foreground-quaternary: oklch(0.482 0 0);
    --background-primary: oklch(0.239 0 0);
    --background-secondary: oklch(0.269 0 0);
    --background-tertiary: oklch(0.301 0 0);
    --background-quaternary: oklch(0.352 0 0);
    --black: oklch(0.239 0 0);
    --white: oklch(1 0 0);
    --blue: oklch(0.729 0.152 243.7);
    --purple: oklch(0.71 0.16 287.3);
    --grey: oklch(0.699 0 0);
    --dark-grey: oklch(0.413 0 0);
    --green: oklch(0.71 0.144 140.3);
    --yellow: oklch(0.802 0.167 78.9);
    --orange: oklch(0.732 0.186 53);
    --pink: oklch(0.711 0.16 342.9);
    --red: oklch(0.657 0.175 17.8);
  }
}
