.picker {
  &[data-kind="list"] {
    display: flex;
    gap: 12px;
    align-items: center;
    align-self: stretch;
  }

  &[data-kind="grid"] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 8px;
  }
}

.color {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 5px;
  border-radius: 100px;
  transition: scale 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &:active {
    scale: 0.9;
  }

  &::after {
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    border: 4px solid var(--white);
    border-radius: 100px;
    opacity: 0;
    scale: 0.8;
    transition: 0.2s ease-in-out;
  }

  &[data-checked]::after {
    opacity: 1;
    scale: 1;
  }
}
