.quote {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  align-self: stretch;
  justify-content: flex-end;

  .line {
    width: 4px;
    height: 100%;
    opacity: 0.6;
  }

  .message {
    > h1,
    > h2 {
      font-size: var(--size-micro);
      font-weight: var(--weight-medium);
      line-height: 150%;
      color: oklab(1 0 0);
      letter-spacing: var(--spacing-micro);
      opacity: 0.6;
    }
  }
}
