.button {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  height: 48px;
  background: var(--black);
  border-radius: 16px;
  transition: outline-offset 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

  .label {
    font-size: var(--size-medium);
    font-variation-settings: var(--font-weight-600);
    font-weight: var(--weight-semibold);
    line-height: 24px;
    color: var(--white);
    letter-spacing: var(--spacing-medium);
    white-space: nowrap;
    user-select: none;
  }

  &:active {
    scale: 0.98;
  }
}
