.button {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  height: 48px;
  outline-width: 2px;
  outline-style: solid;
  outline-color: color-mix(in srgb, var(--black) 0%, transparent);
  outline-offset: 2px;
  background: var(--black);
  border-radius: 16px;
  transition: outline-color 0.2s ease;

  &:focus-visible {
    outline-color: color-mix(in srgb, var(--black) 100%, transparent);
  }

  .label {
    font-size: var(--size-medium);
    font-weight: var(--weight-semibold);
    line-height: 24px;
    color: var(--white);
    letter-spacing: var(--spacing-medium);
    white-space: nowrap;
    user-select: none;
  }

  &:active {
    scale: 0.98;
  }
}
