@import url("./reset.css");
@import url("./theme/colors.css");
@import url("./theme/font.css");

html {
  background: var(--background-primary);
}

html::selection {
  overflow-x: hidden;
  color: var(--white);
  background: var(--black);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 640px;
  height: 100%;

  isolation: isolate;
  transition: width 0.4s ease;

  @media (width <= 800px) {
    width: 80%;
  }
}

button,
input {
  outline: none;

  &:focus,
  &:focus-within {
    box-shadow:
      0 0 0 2px var(--background-primary),
      0 0 0 4px var(--black);
    transition: box-shadow 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
